@model ConciergeRequestViewModel
@{
    ViewData["Title"] = "Concierge Request";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concierge Request</title>

    <link rel="stylesheet" href="/css/patient.css">
    <script type="text/javascript" src="/js/patient.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

</head>

<body class="create-patient-request">

    <header class="shadow">
        <div class="d-flex mx-3 align-items-center justify-content-between">
            <img src="/images/hallo_doc_logo.png" alt="logo_icon" height="100px">
            <button onclick="myFunction()" class="btn btn-outline-info shadow-none night-mode-btn">
                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px"
                     viewBox="0 0 24 24" width="24px">
                    <rect fill="none" height="24" width="24" />
                    <path d="M9.37,5.51C9.19,6.15,9.1,6.82,9.1,7.5c0,4.08,3.32,7.4,7.4,7.4c0.68,0,1.35-0.09,1.99-0.27C17.45,17.19,14.93,19,12,19 c-3.86,0-7-3.14-7-7C5,9.07,6.81,6.55,9.37,5.51z M12,3c-4.97,0-9,4.03-9,9s4.03,9,9,9s9-4.03,9-9c0-0.46-0.04-0.92-0.1-1.36 c-0.98,1.37-2.58,2.26-4.4,2.26c-2.98,0-5.4-2.42-5.4-5.4c0-1.81,0.89-3.42,2.26-4.4C12.92,3.04,12.46,3,12,3L12,3z" />
                </svg>
            </button>
        </div>
    </header>

    <div class="container-fluid">

        <div class="mt-4">
            <button onclick="history.back(-1)" class="btn btn-outline-info shadow-none">
                <div class="d-flex justify-content-center align-items-center back-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="24">
                        <path d="m142-480 294 294q15 15 14.5 35T435-116q-15 15-35 15t-35-15L57-423q-12-12-18-27t-6-30q0-15 6-30t18-27l308-308q15-15 35.5-14.5T436-844q15 15 15 35t-15 35L142-480Z" />
                    </svg>
                    <span class="h6 p-0 m-0 text-center">Back</span>
                </div>
            </button>
        </div>

        <form method="post" class="" novalidate id="concierge-request-form">

            <div class="container-fluid form-card shadow-sm rounded mx-1 my-3 py-3">

                <div class="row">
                    <h3>Concierge Information</h3>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="form-floating mt-3">
                            <input asp-for="FirstName" class="form-control" placeholder="Leave a comment here"
                                   id="concierge-first-name" required>
                            <label for="floatingTextarea2">Your First Name</label>

                            <span asp-validation-for="FirstName" class="text-danger"></span>
                            <span class="error-msg text-danger" style="display:none;"></span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="form-floating mt-3">
                            <input asp-for="LastName" class="form-control" placeholder="Leave a comment here"
                                   id="concierge-last-name">
                            <label for="floatingTextarea2">Your Last Name</label>

                            <span asp-validation-for="LastName" class="text-danger"></span>
                            <span class="error-msg text-danger" style="display:none;"></span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12">

                        <div class="form-floating mt-3">
                            <input id="other-phone-country" asp-for="Countrycode" hidden />
                            <input asp-for="Phone" id="other-phone" class="form-control" type="tel">

                            <span asp-validation-for="Phone" class="text-danger"></span>
                            <span class="error-msg text-danger" style="display:none;"></span>
                        </div>

                    </div>

                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="form-floating mt-3">
                            <input asp-for="Email" class="form-control" placeholder="Leave a comment here"
                                   id="concierge-email">
                            <label for="floatingTextarea2">Your Email</label>

                            <span asp-validation-for="Email" class="text-danger"></span>
                            <span class="error-msg text-danger" style="display:none;"></span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="form-floating mt-3">
                            <input asp-for="HotelOrPropertyName" class="form-control" placeholder="Leave a comment here"
                                   id="concierge-hotel-or-property-name">
                            <label for="floatingTextarea2">Hotel / Property Name</label>

                            <span asp-validation-for="HotelOrPropertyName" class="text-danger"></span>
                            <span class="error-msg text-danger" style="display:none;"></span>
                        </div>
                    </div>

                </div>


                <div class="row mt-3">
                    <h3>Concierge Location</h3>
                </div>

                <div class="row">

                    <div class="col-12 col-md-6 ">
                        <div class="form-floating mt-3">
                            <input asp-for="patientDetails.Street" class="form-control" placeholder="Leave a comment here"
                                   id="concierge-street">
                            <label for="floatingTextarea2">Street</label>

                            <span asp-validation-for="patientDetails.Street" class="text-danger"></span>
                            <span class="error-msg text-danger" style="display:none;"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-floating mt-3">

                            <select asp-for="patientDetails.CityId" class="form-select" id="patient-city" required>
                                <option disabled selected value=""> -- Select City -- </option>
                            </select>
                            <label for="patient-city">City</label>
                            <span asp-validation-for="patientDetails.CityId" class="text-danger"></span>
                            <span class="error-msg text-danger" style="display:none;"></span>

                        </div>
                    </div>

                    <div class="col-12 col-md-6 ">
                        <div class="form-floating mt-3">

                            <select asp-for="patientDetails.RegionId" class="form-select" id="patient-state">
                                <option disabled selected value=""> -- Select State -- </option>

                                @foreach (var region in Model.regions)
                                {
                                    <option value="@region.Regionid">@region.Name</option>
                                }
                            </select>

                            <label for="patient-state">State</label>
                            <span asp-validation-for="patientDetails.RegionId" class="text-danger"></span>
                            <span class="error-msg text-danger" style="display:none;"></span>

                        </div>
                    </div>
                    <div class="col-12 col-md-6 ">
                        <div class="form-floating mt-3">
                            <input asp-for="patientDetails.ZipCode" class="form-control" placeholder="Leave a comment here"
                                   id="concierge-zip">
                            <label for="floatingTextarea2">Zip Code</label>

                            <span asp-validation-for="patientDetails.ZipCode" class="text-danger"></span>
                            <span class="error-msg text-danger" style="display:none;"></span>
                        </div>
                    </div>

                </div>

                <div class="row mt-3">
                    <h3>Patient Information</h3>
                </div>

                <div class="row">

                    <div class="form-floating mt-2">
                        <textarea asp-for="patientDetails.Symptom" class="form-control" placeholder="Leave a comment here" id="concierge-patient-symptom"
                                  style="height: 100px;"></textarea>
                        <label class="ms-2" for="floatingTextarea2">Enter brief details of Symptoms (Optional)</label>

                        <span asp-validation-for="patientDetails.Symptom" class="text-danger"></span>
                        <span class="error-msg text-danger" style="display:none;"></span>
                    </div>

                </div>


                <div class="row">

                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="form-floating mt-3">
                            <input asp-for="patientDetails.FirstName" class="form-control" placeholder="Leave a comment here"
                                   id="concierge-patient-first-name">
                            <label for="floatingTextarea2">First Name</label>

                            <span asp-validation-for="patientDetails.FirstName" class="text-danger"></span>
                            <span class="error-msg text-danger" style="display:none;"></span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="form-floating mt-3">
                            <input asp-for="patientDetails.LastName" class="form-control" placeholder="Leave a comment here"
                                   id="concierge-patient-last-name">
                            <label for="floatingTextarea2">Last Name</label>

                            <span asp-validation-for="patientDetails.LastName" class="text-danger"></span>
                            <span class="error-msg text-danger" style="display:none;"></span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12">

                        <div class="form-floating mt-3">

                            <input asp-for="patientDetails.DOB" class="form-control" placeholder="Leave a comment here" type="date"
                                   id="concierge-patient-dob">
                            <label for="floatingTextarea2">Date of Birth:</label>

                            <span asp-validation-for="patientDetails.DOB" class="text-danger"></span>
                            <span class="error-msg text-danger" style="display:none;"></span>

                        </div>

                    </div>

                </div>

                <div class="row mt-3">
                    <h3>Patient Contact Information</h3>
                </div>

                <div class="row">

                    <div class="col-md-6 col-12">
                        <div class="form-floating mt-3">
                            <input asp-for="patientDetails.Email" class="form-control" placeholder="Leave a comment here"
                                   id="concierge-patient-email">
                            <label for="floatingTextarea2">Email</label>

                            <span asp-validation-for="patientDetails.Email" class="text-danger"></span>
                            <span class="error-msg text-danger" style="display:none;"></span>
                        </div>
                    </div>

                    <div class="col-md-6 col-12">

                        <div class="form-floating mt-3">
                            <input id="patient-phone-country" asp-for="patientDetails.Countrycode" hidden />
                            <input asp-for="patientDetails.Phone" id="patient-phone" class="form-control" type="tel">

                            <span asp-validation-for="patientDetails.Phone" class="text-danger"></span>
                            <span class="error-msg text-danger" style="display:none;"></span>
                        </div>

                    </div>

                </div>


                <div class="row mt-3">
                    <h3>Patient Location</h3>
                </div>

                <div class="row">

                    <div class="col">
                        <div class="form-floating mt-3">
                            <input asp-for="patientDetails.RoomSuite" class="form-control" placeholder="Leave a comment here"
                                   id="concierge-patient-room-suite">
                            <label for="floatingTextarea2">Room # / Suite (Optional)</label>

                            <span asp-validation-for="patientDetails.RoomSuite" class="text-danger"></span>
                            <span class="error-msg text-danger" style="display:none;"></span>
                        </div>
                    </div>

                </div>

                <div class="row mt-3">
                    <div class=" d-flex justify-content-center justify-content-md-end">
                        <button class="btn" onclick="changeCountryCode()" type="submit" style="background-color: #10bce9;">
                            <span class="text-white">Submit</span>
                        </button>

                        <button class="btn ms-3" type="reset" style="border: 1px solid #10bce9;">
                            <span style="color: #10bce9;">Cancel</span>
                        </button>
                    </div>
                </div>

            </div>

        </form>


        <div class="row align-items-end justify-content-center">

            <footer class="py-3" style="background-color: #282828;">

                <div class="justify-content-md-end justify-content-center d-flex">
                    <a class="text-decoration-none" href=""><span class="text-white">Terms of Conditions</span></a>
                    <span class="px-2 " style="color: grey;">|</span>
                    <a class="text-decoration-none" href=""><span class="text-white">Privacy Policy</span></a>
                </div>

            </footer>
        </div>


    </div>

    <script src="~/js/guest/guest-requests.js"></script>

</body>

</html>