@model ShiftMonthViewModel

<style>
    .fc-time {
        display: none;
    }

    .fc-daygrid-event {
        cursor: pointer;
    }

    .fc-event-end .fc-event-time {
        display: none;
    }

    .fc-header-toolbar.fc-header-resources-only {
        background-color: #ff9999;
        border: none;
    }

    .fc-header-toolbar,
    .fc-daygrid-event {
        background-color: #CCCCCC !important; /* or any other color code */
    }


    .fc-timeline-header-row {
        background-color: gray !important;
    }

    .btn22 {
        padding: 0.25rem 0.5rem !important;
    }

    .fc-header-toolbar .fc-button {
        padding: 0.25rem 0.5rem !important;
    }

    .input-group {
        width: 300px;
    }

    #calendar {
        margin-top: 2rem;
    }

    .fc .fc-toolbar-title {
        font-size: 22px;
        font-weight: 600;
    }

    .fc-scrollgrid-sync-inner:has(.fc-col-header-cell-cushion) {
        background-color: #747474;
    }

    .fc .fc-col-header-cell-cushion {
        color: white;
    }

    .fc a {
        color: black;
        cursor: pointer;
        text-decoration: none;
    }

    /* .fc-daygrid-day-top {
            background-color: #ec9aef;
        }*/

    .fc .fc-button-group {
        display: block;
    }

    .fc-button {
        margin: 10px;
    }

    .fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
        background: none;
        border: 1px solid #02BCE6;
        color: #02BCE6;
        border-radius: 5px;
        margin: 3px;
    }

    .fc-direction-ltr .fc-button-group > .fc-button:last-child {
        background: none;
        border: 1px solid #02BCE6;
        color: #02BCE6;
        border-radius: 5px;
        margin: 3px;
    }

    .fc .fc-button-primary:not(:disabled).fc-button-active:focus, .fc .fc-button-primary:not(:disabled):active:focus {
        box-shadow: none;
    }

    .fc .fc-button-group > .fc-button.fc-button-active {
        background-color: #02BCE6;
        color: white;
    }

    .fc-toolbar-title {
        font-weight: 600;
    }

    .fc-next-button.fc-button.fc-button-primary {
        padding: 4px 5px;
        border-radius: 50px;
    }

    .fc-prev-button.fc-button.fc-button-primary {
        padding: 4px 5px;
        border-radius: 50px;
    }

    .fc-direction-ltr {
        padding: 4px 5px;
        border-radius: 50px;
    }
</style>

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>

<div id="calendar"></div>

<script>

    $(document).ready(function () {

        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            initialDate: '2024-04-01',
            headerToolbar: "none",
            events: [
    @foreach (var shift in Model.shiftDetails)
    {
        string dateString = shift.Shiftdate.ToString("yyyy-MM-dd");
        string titleString = shift.Starttime.ToString() + "-" + shift.Endtime.ToString();
        @:{ title: "@titleString", start: "@dateString", id: "@shift.Shiftdetailid" },
    }  ],

            eventClick: function (info) {
                loadViewShift(info.event.id);
            },
            dateClick: function (info) {
                loadAddShift(info.dateStr);
            }
        });

        // render the calendar
        calendar.render();

    });

    function loadViewShift(sDetailId) {

        $.ajax({
            url: "/Admin/ViewShiftModal",
            data: { shiftDetailId: sDetailId },
            type: 'GET',
            success: function (result) {
                $('#modal-div').html(result);
                $('#viewShiftModal').modal('show');
            },
            error: function (error) {
                console.log(error);
                alert('Error Cancelling Request')
            },
        });
    }

    function loadAddShift(dateStr) {

        $.ajax({
            url: "/Admin/AddShiftModal",
            data: { dateString: dateStr },
            type: 'GET',
            success: function (result) {
                $('#modal-div').html(result);
                $('#viewShiftModal').modal('show');
            },
            error: function (error) {
                console.log(error);
                alert('Error Cancelling Request')
            },
        });
    }

</script>