@model ProviderLocationViewModel
@{
    Layout = "_AdminDashboardLayout";
}

<script>

    $('.admin-tab').removeClass("active");
    $('#provider-location-tab').addClass("active");

</script>

<link rel="stylesheet" type="text/css" href="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.25.0/maps/maps.css" />
<script src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.25.0/maps/maps-web.min.js"></script>

<h3 class="m-3">Provider Location</h3>

<div class="mx-3">
    <div class="col-12" style="height: 600px;" id="tomtom-map"></div>
</div>

<script>

    var popupOffsets = {
        top: [0, 0],
        bottom: [0, -70],
        "bottom-right": [0, -70],
        "bottom-left": [0, -70],
        left: [25, -35],
        right: [-25, -35],
    }

    var map = tt.map({
        container: "tomtom-map",
        key: "EnwCRVttrNo5BJcEdEGzJWguGTXj6GQo",
        center: [@Model.locationList.First().Longitude, @Model.locationList.First().Latitude],
        zoom: 15,
    });

    @foreach (var row in Model.locationList)
    {
        @:console.log('hi');
        @:var cmarker = new tt.Marker().setLngLat([@row.Longitude, @row.Latitude]).addTo(map);
        @:var cpopup = new tt.Popup({ offset: popupOffsets }).setHTML("@row.PhysicianName");
        @:cmarker.setPopup(cpopup).togglePopup();
    }

</script>