@model string?
@{
    Layout = "_AdminDashboardLayout";
    ViewData["UserName"] = Model;
}
<div class="d-flex">

    <div class="d-flex w-100 h-100 align-items-center justify-content-center" style="margin-top:450px;">
        Coming Soon...
    </div>

</div>

<script>

    $('.admin-tab').removeClass("active");
    $('#provider-tab').addClass("active");

</script>