@model ClearCaseModel

@* Clear Case *@
<div id="clearCaseModal" class="modal fade" aria-labelledby="exampleModalCenterTitle">
    <div class="modal-dialog rounded-3 modal-dialog-centered">
        <div class="modal-content">
            <form method="post" asp-action="ClearCaseModal" asp-controller="Admin">

                <div class="mt-4 pt-4 mx-4 modal-body align-items-center d-flex justify-content-center mt-4">
                    <svg class="info-icon-shadow" xmlns="http://www.w3.org/2000/svg" height="100px" viewBox="0 0 24 24" width="100px"
                         fill="#faaa04">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                    </svg>
                </div>

                <h3 class="d-flex justify-content-center">Confirmation for clear case</h3>

                <div class="m-4 p-4 d-flex justify-content-center align-items-center">
                    <input asp-for="RequestId" hidden />
                    <p class="text-center ">
                        Are you sure you want to clear this request? Once cleared , you won't be able to see this request.
                    </p>
                </div>

                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-info text-white" data-bs-dismiss="modal">
                        Clear
                    </button>
                    <button type="button" class="btn cancel-btn" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
