@model SendLinkModel

<div class="modal fade" id="sendLinkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <div class="modal-dark modal-title text-white" id="exampleModalLongTitle">
                    Send mail to patient for submitting request
                </div>
                <button type="button" class="btn" aria-label="Close" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                         fill="#FFFFFF">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
                    </svg>
                </button>
            </div>

            <form method="post" asp-controller="Admin" asp-action="SendLinkForCreateRequest">
                <div class="modal-body">
                    <div class="modal-flex my-3">

                        <input hidden />
                        <div class="col-12">
                            <div class="form-floating">
                                <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name">
                                <label for="floatingInput">First Name</label>
                            </div>
                        </div>

                        <div class="col-12 mt-3">
                            <div class="form-floating">
                                <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name">
                                <label for="floatingInput">Last Name</label>
                            </div>
                        </div>

                        <div class="col-12 mt-3">
                            <div class="form-floating d-flex  w-100">
                                <input asp-for="CountryCode" id="send-link-phone-country" hidden style="height:60px;" />
                                <input asp-for="Phone" id="send-link-phone" class="py-4 form-control" type="number" style="height:60px;" />
                            </div>
                        </div>

                        <div class="col-12 mt-3">
                            <div class="form-floating">
                                <input asp-for="Email" type="text" class="form-control" placeholder="Email">
                                <label for="floatingInput">Email</label>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" onclick="setCountryCode()" id="assign-modal-submit-btn" class="btn btn-info text-white" data-bs-dismiss="modal">Submit</button>
                    <button type="button" class="btn" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    sendLinkInputField = document.getElementById("send-link-phone");
    sendLinkField = window.intlTelInput(sendLinkInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        preferredCountries: ["in"],
        separateDialCode: true,
        initialCountry: "in"
    });

    function setCountryCode() {

        let countryCode = document.getElementById("send-link-phone-country");
        countryCode.value = sendLinkField.getSelectedCountryData().dialCode;

    }

</script>