
<div class="pagination d-flex justify-content-center align-content-center mt-3">

    @if (Model.HasPrevious)
    {
        <button class="border-0 mx-1 page-item" onclick="loadPartialTable(1)">❮❮</button>
        <button class="page-item mx-1 border-0" onclick="loadPartialTable(@(Model.CurrentPage-1))">❮</button>
    }
    else
    {
        <button disabled class="disabled border-0 mx-1 page-item">❮❮</button>
        <button disabled class="disabled page-item mx-1 border-0">❮</button>
    }

    <button class="page-item mx-1 active border-0">@Model.CurrentPage</button>

    @if (Model.HasNext)
    {
        <button class="page-item mx-1 border-0" onclick="loadPartialTable(@(Model.CurrentPage+1))">❯</button>
        <button class="page-item mx-1 border-0" onclick="loadPartialTable(@Model.TotalPages)">❯❯</button>
    }
    else
    {
        <button disabled class="page-item disabled mx-1 border-0">❯</button>
        <button disabled class="page-item disabled mx-1 border-0">❯❯</button>
    }

</div>