@model SchedulingViewModel
@{
    Layout = "_PhysicianDashboardLayout";
}

<div id="modal-div"></div>

<div class="modal fade" id="CreateShiftModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <div class="modal-dark modal-title text-white" id="exampleModalLongTitle">
                    Send mail to patient for submitting request
                </div>
                <button type="button" class="btn" aria-label="Close" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                         fill="#FFFFFF">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
                    </svg>
                </button>
            </div>

            <form method="post" asp-controller="Physician" asp-action="AddShift">
                <div class="modal-body">
                    <div class="modal-flex my-3">

                        <input hidden />
                        <div class="col-12 form-floating">
                            <select id="regionList" asp-for="addShiftRegion" class=" w-100 align-items-left " style="height:50px">
                                <option>select any profession type</option>
                                @foreach (var region in Model.regions)
                                {
                                    <option class="" value="@region.Regionid">@region.Name </option>
                                }
                            </select>
                        </div>

                        <div class="col-12 mt-3">
                            <div class="form-floating d-flex  w-100">

                                <input asp-for="shiftDate" id="floatingInput" class="py-1 mt-1 form-control" type="date" style="height:60px;" />
                                <label for="floatingInput" class="">Shift Date</label>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between col-12 mt-3">
                            <div class=" col-5 mx-1">
                                <div class="form-floating">
                                    <input asp-for="shiftStartTime" id="floatingInput" type="time" class="form-control" placeholder="">
                                    <label for="floatingInput">Start</label>
                                </div>
                            </div>
                            <div class=" col-5 mx-1">
                                <div class="form-floating">
                                    <input asp-for="shiftEndTime" id="floatingInput" type="time" class="form-control" placeholder="Email">
                                    <label for="floatingInput">End</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 mt-3 d-flex justify-content-start">

                            <div class="form-check form-switch">
                                <label class="form-check-label" for="is-repeat-switch">Repeat</label>
                                <input class="form-check-input" type="checkbox" role="switch" name="isRepeat" value="1" id="is-repeat-switch">
                            </div>

                        </div>

                        <div id="is-repeat-div" style="display:none;">

                            <div class="col-12 p-0 mt-3">
                                <span>Repeat Days</span>
                                <div class="p-0 d-flex flex-wrap mt-3">
                                    <div class="form-check">
                                        <input class="form-check-input me-1" name="repeatDays" type="checkbox" value="1" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Monday
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="mx-1 form-check-input" name="repeatDays" type="checkbox" value="2" id="flexCheckChecked">
                                        <label class="form-check-label" for="flexCheckChecked">
                                            Tuesday
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="mx-1 form-check-input" name="repeatDays" type="checkbox" value="3" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Wednesday
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="mx-1 form-check-input" name="repeatDays" type="checkbox" value="4" id="flexCheckChecked">
                                        <label class="form-check-label" for="flexCheckChecked">
                                            Thurseday
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="me-1 form-check-input" name="repeatDays" type="checkbox" value="5" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Friday
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="mx-1 form-check-input" name="repeatDays" type="checkbox" value="6" id="flexCheckChecked">
                                        <label class="form-check-label" for="flexCheckChecked">
                                            Saturday
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="mx-1 form-check-input" name="repeatDays" type="checkbox" value="7" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Sunday
                                        </label>
                                    </div>

                                </div>
                            </div>

                            <div class="col-12 form-floating">
                                <select id="" asp-for="repeatCount" class=" w-100 align-items-left " style="height:50px">
                                    <option value="0">select repeat days</option>
                                    @for (int i = 0; i < 7; i++)
                                    {
                                        <option class="" value="@i">@i </option>
                                    }

                                </select>
                            </div>

                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="addShift-submit-btn" class="btn btn-info text-white" data-bs-dismiss="modal">Save</button>
                    <button type="button" class="btn" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container mt-4 scheduling-body">
    <div class="container-fluid  mt-4" style="max-width:1000px">
        <div class="mt-4 row d-flex justify-content-between">
            <h4 class="fw-bold col-xl-11  col-9 col-xs-8">
                My Schedule
            </h4>
            <button class=" col-xl-1 col-2 col-xs-3  btn btn-outline-info align-content-end " onclick="history.back(-1)">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#01bce9" width="15" height="15" viewBox="0 -960 960 960">
                    <path d="m142-480 294 294q15 15 14.5 35T435-116q-15 15-35 15t-35-15L57-423q-12-12-18-27t-6-30q0-15 6-30t18-27l308-308q15-15 35.5-14.5T436-844q15 15 15 35t-15 35L142-480Z" />
                </svg>
                <span>Back</span>
            </button>
        </div>

        <div class="mt-4">
            <span id="shift-date-time" class="fw-bold">Schedule for: Feb 1 - Feb 29,2024</span>
        </div>

        <div class="border-radius white-back  d-flex px-0 mt-4 align-items-center justify-content-end">

            <div class=" mx-0 mt-4 d-flex justify-content-end">
                <div class="" style="background-color:lightpink; height:25px; width:30px; border-radius:5px; border:1px solid hotpink">
                </div>
                <span class="ms-1">Pending Shifts</span>
                <div class="ms-3" style="background-color:lightgreen; height:25px; width:30px; border-radius:5px; border:1px solid green">
                </div>
                <span class="ms-1">Approved Shifts</span>
            </div>
        </div>

        <div class="row mt-4 d-flex justify-content-between">
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <div id="previous-date-btn" class="rounded-circle d-flex align-items-center justify-content-center" style="padding:15px;background-color:#10bce9">
                        <svg fill="#ffffff" style="transform: rotate(180deg)" height="15px" width="15px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             viewBox="0 0 330 330" xml:space="preserve">
                        <path id="XMLID_222_" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001
	                        c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213
	                        C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606
	                        C255,161.018,253.42,157.202,250.606,154.389z" />
                        </svg>
                    </div>
                    <div>
                        <img src="~/images/calendar_month.svg" alt="calender_icon" class="mx-2" />
                    </div>
                    <div id="next-date-btn" class="rounded-circle d-flex align-items-center justify-content-center" style="padding:15px;background-color:#10bce9">
                        <svg fill="#ffffff" height="15px" width="15px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             viewBox="0 0 330 330" xml:space="preserve">
                        <path id="XMLID_222_" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001
	                        c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213
	                        C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606
	                        C255,161.018,253.42,157.202,250.606,154.389z" />
                        </svg>
                    </div>
                </div>
            </div>

            <div class="col-md-6 d-flex justify-content-end">
                <button id="add-new-shift-btn" class="btn btn-success">Add New Shift</button>
            </div>
        </div>

        <div id="month-view-partial">
        </div>
    </div>
</div>

<style>

    .back-svg {
        transform: rotate(180deg);
    }

</style>

<script>

    $('#is-repeat-switch').change(function () {
        if (this.checked) {
            $('#is-repeat-div').show();
        }
        else {
            $('#is-repeat-div').hide();
        }
    });

</script>

<script>

    $('#add-new-shift-btn').click(function () {
        $.ajax({
            url: "/Physician/AddShiftModal",
            data: {},
            type: 'GET',
            success: function (result) {
                $('#modal-div').html(result);
                $('#addShiftModal').modal('show');
            },
            error: function (error) {
                console.log(error);
                alert('Error Cancelling Request')
            },
        });
    });
</script>

<script>
    var phyInfoEdit = document.getElementById("viewShift-edit-btn");
    var phyInfoSave = document.getElementById("viewShift-save-btn");
    var phyInfoCancel = document.getElementById("viewShift-cancel-btn");

    $("#viewShift-edit-btn").click(function () {
        document.getElementById("viewShift-set").disabled = false;

        phyInfoSave.classList.remove('d-none');
        phyInfoEdit.classList.add('d-none');

    });

    $("#viewShift-cancel-btn").click(function () {
        document.getElementById("viewShift-set").disabled = true;

        phyInfoEdit.classList.remove('d-none');
        phyInfoSave.classList.add('d-none');

    });
</script>

<script>

    $('.calender-filter').click(function () {

        $(this).addClass("cal-filter-active");
        $('.calender-filter').not(this).removeClass("cal-filter-active");

    });

</script>

<script>

    const month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    const weekDays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];

    var currentDate = new Date();
    console.log(currentDate);

    $('#previous-date-btn').click(function () {
        let date = currentDate.getDate();
        let year = currentDate.getFullYear();
        let month = currentDate.getMonth();

        currentDate = new Date(year, month - 1, date);
        loadSchedule();
    });

    $('#next-date-btn').click(function () {
        let date = currentDate.getDate();
        let year = currentDate.getFullYear();
        let month = currentDate.getMonth();

        currentDate = new Date(year, month + 1, date);
        loadSchedule();
    });

    function loadSchedule() {

        $('#shift-date-time').text(month[currentDate.getMonth()] + " " + currentDate.getFullYear());

        $.ajax({
            url: "/Physician/LoadMonthSchedule",
            type: 'POST',
            data: { shiftMonth: currentDate.getMonth(), shiftYear: currentDate.getFullYear() },
            success: function (result) {
                $('#month-view-partial').html(result);
            },
            error: function (error) {
                console.log(error);
                alert('error fetching details')
            },
        });
    }

    loadSchedule();

</script>

<script>

    $('.admin-tab').removeClass("active");
    $('#schedule-tab').addClass("active");

</script>